@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
}

/* topo */
.topo {
    background: rgb(0,74,173);
    background: linear-gradient(0deg, #11bcc5ad 0%, #00aeb8 100%);
    height: 90px;
    width: 100%;
}
.topo img{
    height: 210px;
    margin-top: -60px;
    margin-left: -20px;
}
.texto h1{
    font-size: 16px;
    margin-top: -120px;
    margin-left: 135px;
    color: white ;
}
.texto h3{
    font-size: 15px;
    font-weight: lighter;
    color: white;
    margin-left: 135px;
    margin-top: -10px;
}

/* links */
.links a {
    color: #ffffffc4;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;

}
.links {
    position: absolute;
    left: 1410px;
    top: 43px;
}
.links a:hover {
    color: rgb(255, 255, 255)
}

/* perfil usuario */
.perfil {
    position: absolute;
    left: 1690px;
    top: 34px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffffff00;
    color: #fff;
    border: 1.5px solid rgb(253, 253, 253);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease, color 0.3s ease;
    height: 30px;
    width: 110px;
}
.perfil p{
    font-size: 15px;
    font-weight: lighter;
    position: absolute;
    left: 48px;
    top: -8px;
}
.perfil img{
    position: absolute;
    left: 10px;
    width: 20px ;
    height: 20px;
    margin: 5px;
}
.perfil:hover {
    background-color: #00969e;
    color: #ffffff;
}

/* banner foto principal*/
.banner {
    background-image: url(bem\ vindo.gif);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* barra */
.barra{
    background-color: #f0f0f05b;
}
.barra h3{
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* cards */
.perfis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* cards perfis */
.card {
    border-radius: 20px;
    width: 700px;
    height: 400px;
    margin-right: 1000px;
    margin-top: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover{
    background-color: #dbdada;
    color: #006f75;
}
.card-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card-nome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-coment {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.card-coment span{
    font-size: 15px;
    font-weight: bolder;
}

/* botao solicitacao */
.botao button {
    margin: 30px;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background-color: #00969e;
    color: #fff;
    border: 1.5px solid #00969e;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease, color 0.3s ease;
}

.botao button:hover {
    background-color: #007d85;
    color: #fff;
}
.botao button.clicado {
    background-color: #007c8554;
    border-color: #007c8554;
    color: #000;
}

/* seta */
  .seta-direita {
    cursor: pointer;
    font-size: 24px;
    margin-left: 20px;
  }

/* dicas */
.dicas-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .imagem-dica {
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .texto-dica {
    flex: 1;
    margin: 20px;
  }
  

.texto1 {
    width: 800px;
  }
.texto2{
    width: 700px;
}
.texto3{
    width: 800px;
}
.texto-dica span{
    font-weight: bolder;
}

button {
    background-color: #00969e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #007d85;
}


/* rodape */
footer {
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    padding: 100px;
    text-align: center;
}
/* logo rodape */
.logo2 img{
    position: absolute;
    left: 90px;
    top: 2625px;
    width: 200px;
}
.texto5 h1{
    font-size: 16px;
    position: absolute;
    top: 2700px;
    right: 1570px;
}
.texto5 h3{
    font-size: 15px;
    font-weight: lighter;
    position: absolute;
    top: 2715px;
    right: 1400px;
}
/* aba contatos */
.contato {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
}
.contato div {
    flex: 1;
    text-align: left;
    padding: 0 50px;
}
.contato h3, .endereco h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.tel {
    font-weight: bolder;
    font-size: 18px;
    margin: 0;
}
.endereco p{
    margin: 0;
}
/* horario */
.horario{
    font-size: 17px;
    margin-top: 6px;
    font-weight: lighter;
    width: 200px;
}
/* botao whats */
.btn-whatsapp {
    font-size: 20px;
    border: 1.5px solid white;
    background-color: #25d36500; /* Cor verde do WhatsApp */
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    margin-top: 10px;
}
.btn-whatsapp img{
    width: 40px;
    position: absolute;
    top: 2812px;
    right: 1540px;
}
.btn-whatsapp:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* botao maps */
.btn-maps {
    background-color: rgba(37, 211, 101, 0);
    border: 1.5px solid white;
    margin-top: 20px;
    color: #fcfcfc;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.btn-maps:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* endereço senai */
.endereco p{
    font-size: 16px;
    font-weight: lighter;
}
.endereco h3{
    margin-top: 40px;
    font-size: 22px;
}

@media only screen and (max-width: 414px) {
 
    @import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap');
    
    body{
        font-family: 'Poppins', sans-serif;
        margin: 0 auto;
        padding: 0;
    }
    
    /* topo */
    .topo {
        background: rgb(0,74,173);
        background: linear-gradient(0deg, #11bcc5ad 0%, #00aeb8 100%);
        height: 90px;
        width: 100%;
    }
    .topo img{
        margin-top: 1px;
        height: 100px;
        margin-left: -20px;
    }
    .texto h1{
        font-size: 11px;
        margin-top: -70px;
        margin-left: 55px;
        color: white ;
    }
    .texto h3{
        width: 150px;
        font-size: 10px;
        font-weight: lighter;
        color: white;
        margin-left: 55px;
        margin-top: -6px;
    }
    
    /* links */
    .links a {
        font-size: 10px;
        color: #ffffffc4;
        text-decoration: none;
        margin: 3px;
        font-weight: bold;
    
    }
    .links {
        position: absolute;
        left: 192px;
        top: 44px;
    }
    .links a:hover {
        color: rgb(255, 255, 255)
    }
    
    .a{
        width: 5px;
    
    }
    
    
    /* perfil usuario */
    .perfil {
        position: absolute;
        left: 350px;
        top: 45px;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        background-color: #ffffff00;
        color: #fff;
        border: 1.5px solid rgb(253, 253, 253);
        border-radius: 15px;
        cursor: pointer;
        transition: 0.3s ease, color 0.3s ease;
        height: 15px;
        width: 50px;
    }
    .perfil p{
        font-size: 8px;
        font-weight: lighter;
        position: absolute;
        left: 22px;
        top: -5px;
    }
    .perfil img{
        position: absolute;
        left: 3px;
        top: -2px;
        width: 8px ;
        height: 8px;
        margin: 5px;
    }
    .perfil:hover {
        background-color: #00969e;
        color: #ffffff;
    }
    .banner {
        background-image: url(bem\ vindo.gif);
        height: 120px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /* barra */
    .barra{
        background-color: #f0f0f05b;
    }
    .barra h3{
        font-weight: lighter;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    
    
    /* cards */
    .perfis {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /* cards perfis */
    .card {
        border-radius: 20px;
        width: 600px;
        height: 450px;
        margin-right: 1000px;
        margin-top: 20px;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .card:hover{
        background-color: #dbdada;
        color: #006f75;
    }
    .card-foto {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 10px;
    }
    
    .card-foto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .card-nome {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .card-coment {
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
    }
    
    .card-coment span{
        font-size: 15px;
        font-weight: bolder;
    }
    
    /* botao solicitacao */
    .botao button {
        margin: 30px;
        padding: 10px 30px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        background-color: #00969e;
        color: #fff;
        border: 1.5px solid #00969e;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease, color 0.3s ease;
    }
    
    .botao button:hover {
        background-color: #007d85;
        color: #fff;
    }
    .botao button.clicado {
        background-color: #007c8554;
        border-color: #007c8554;
        color: #000;
    }
    
    /* botao cancelar */
    .canc button {
        margin: 30px;
        padding: 10px 30px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        background-color: #9e0000;
        color: #fff;
        border: 1.5px solid #9e0000;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease, color 0.3s ease;
    }
    
    .canc button:hover {
        background-color: #850000;
        color: #fff;
    }
    .canc button.clicado {
        background-color: #85000054;
        border-color: #85000054;
        color: #000;
    }
    
    /* seta */
    .seta-direita {
        cursor: pointer;
        font-size: 24px;
      }
    
    /* dicas */
    .dicas-container {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    
      
      .texto-dica {
        flex: 1;
        margin: 20px;
      }
      .texto-dica h2{
        font-size: 14px;
      }
    
    .texto1 {
        width: 300px;
        font-size: 10px;
      }
    .texto2{
        width: 300px;
        font-size: 10px;
    }
    .texto3{
        width: 300px;
        font-size: 10px;
    }
    .texto-dica span{
        font-weight: bolder;
    }
    
    /* area rodape */

    footer {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3300px;
        left: 0px;
        background-color: #333;
        color: #fff;
        padding: 222px;
        text-align: center;
    }
    /* logo rodape */
    .logo2 img{
        position: absolute;
        left: 10px;
        width: 100px;
        top: -14px;
    }
    .texto5 h1{
        font-size: 10px;
        position: absolute;
        left: 90px;
        top: 20px;
    }
    .texto5 h3{
        font-size: 9px;
        font-weight: lighter;
        width: 100%;
        position: absolute;
        left: -51px;
        top: 30px;
    }
    /* aba contatos */
    .contato {
        position: absolute;
        top: 100px;
        left: 170px;
        background-color: #333;
        justify-content: space-around;
        max-width: 100%;
        margin: 0 auto;
    }
    .contato div {
        flex: 1;
        padding: 0 50px;
    }
    .contato h3, .endereco h3 {
        margin-bottom: 10px;
    }

    /* telefone */
    .tel {
        font-weight: bolder;
        font-size: 12px;
        margin: 0;
        position: absolute;
        top: 25px;
        left: -110px;
    }

    /* endereço */
    .endereco {
        font-size: 10px;
        margin: 0;
        position: absolute;
        top: 35px;
        left: -160px;
    }
    .endereco p{
        font-size: 10px;
        font-weight: lighter;
    }
    .endereco h3{
        margin-top: 40px;
        font-size: 12px;
    }


    /* horario */
    .horario{
        position: absolute;
        top: 35px;
        left: -110px;
        font-size: 12px;
        margin-top: 6px;
        font-weight: lighter;
        width: 200px;
    }
    /* botao whats */
    .btn-whatsapp {
        position: absolute;
        top: -40px;
        left: -110px;
        font-size: 10px;
        border: 1.5px solid white;
        background-color: #25d36500; /* Cor verde do WhatsApp */
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 30px;
        display: inline-block;
        margin-top: 10px;
    }
    .btn-whatsapp img{
        width: 24px;
        position: absolute;
        left: 90px;
        top: 8px;
        margin-right: 110px;
    }
    .btn-whatsapp:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }

    /* botao maps */
    .btn-maps {
        font-size: 10px;
        background-color: rgba(37, 211, 101, 0);
        border: 1.5px solid white;
        margin-top: 20px;
        color: #fcfcfc;
        padding: 6px 14px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
    }
    .btn-maps:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    
    /* overlay */

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    /* janela de notificação */
    .modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    
    .modal p{
        color: #006f75;
    }
    
    /* Estilo para o botão de fechar */
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    
    .noti img{
        position: absolute;
        width: 15px;
        height: 20px;
        left: 349px;
        top: 44px;
        
    }
    /* botao saiba mais */
    button {
        font-size: 9px;
        background-color: #00969e;
        color: #fff;
        padding: 5px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
    button:hover {
        background-color: #007d85;
    }
    button a{
        text-decoration: none;
        color: #fff;
    }
        
    }